*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none; 
    text-decoration: none;
    list-style: none;
}

:root{
--color-primary: #6c63ff;
--color-success: #00bf8e;
--color-warning: #f7c94b;
--color-danger: #f75842;
--color-danger-variant: rgba(247, 88, 66, 0.4);
--color-white: #fff;
--color-light: rgba(255, 255, 255, 0.7);
--color-black: #000;
--color-bg: #1f2641;
--color-bg1: #2e3267;
--color-bg2: #424890;

--container-width-1g: 80%;
--container-width-nd: 90%;
--container-width-sm: 94%;

--transition: all 400ms ease;
}
Body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7rem;
    color: var(--color-white);
    background: var(--color-bg);
}
.container{
    width: var(--container-width-1g);
    margin: 0 auto;
}
section{
    padding: 6rem 0;
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}
h1,h2,h3,h4,h5{
    line-height: 1.2;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}

a{
    color: var(--color-white);
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px  transparent solid;
    font-weight: 500;
    transition: var(--transition);
    border-radius: 1rem;
}
.btn:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary{
    background: var(--color-danger);
    color:var(--color-white);
}

/* ============ ----  NAV bar   ----- ============== */

nav{
    width: 100vw;
    height: 5rem;
    position:fixed;
    z-index: 11;
    top: 0;

}

/* chaning color when scroll */
.window_scroll{
    background: var(--color-primary);
    transition: var(--transition);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button{
    display: none;
}
.nav__menu{
    display: flex;
    gap: 4rem;
    align-items: center;
}
.nav__menu a{
    font-size: .9rem;
    transition: var(--transition);
}
.nav__menu a:hover{
    color: var(--color-bg2);
}


/* ============ ----  HEADER   ----- ============== */

header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}

.header__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}
.header__left p{
    margin: 1rem 0 2.4rem;
}

/* ============ ----  categories   ----- ============== */


.categories{
    background: var(--color-bg1);
    height: 29rem;
}

.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}

.categories .container{
    display: grid;
    grid-template-columns: 40% 60%;
}
.categories__left{
    margin-right: 4rem;
}
.categories__left p{
    margin: 1rem 0 3rem;
}
.categories__right{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 1.2rem;
}
.category{
    background: var(--color-bg2);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.category:nth-child(2) .category__icon{
    background: var(--color-danger);
}
.category:nth-child(3) .category__icon{
    background: var(--color-success);
}
.category:nth-child(5) .category__icon{
    background: var(--color-success);
}
.category:nth-child(4) .category__icon{
    background: var(--color-warning);
}
.category:nth-child(6) .category__icon{
    background: var(--color-primary);
}
.category:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.37);
    z-index: 1;
}

.category__icon{
    background: var(--color-primary);
    padding: .9rem;
    border-radius: .9rem;
}

.category h5{
    margin: 2rem 0 1rem;
}
.category  p{
    font-size: .85rem;
}


/* ============ ----  courses   ----- ============== */

.courses{
    margin-top: 10rem;
}
.courses__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.course{
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.course:hover{
    background: transparent;
    border-color: var(--color-primary);
}
.course__info{
    padding: 2rem;
}
.course__info p{
    margin: 1.2rem 0  2rem;
    font-size: .9rem;
}


/* ===========----  FAQS   ----- ============== */


.faqs{
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}


.faqs__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.faq{
    padding: 2rem;
    background: var(--color-primary);
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    cursor: pointer;
}


.faq h4{
   font-size: 1rem;
   line-height: 2.2;
}

.faq__icon{
    align-self: flex-start;
    font-size: 1.2rem;
}
.faq p{
    margin-top: .8rem;
    display: none;
}
.faq.open p{
    display: block;
}

/* ===========----  Testimonials   ----- ============== */

.testimonials__container{
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}

.testimonial{
    padding-top: 2rem;
}
.avatar{
   width: 6rem;
   height: 6rem;
   border-radius: 50%;
   overflow: hidden;
   margin: 0 auto 1rem;
   border: 1rem solid var(--color-bg1);
}
.testimonial__info{
    text-align: center;
}
.testimonial__body{
    background: var(--color-primary);
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
}

.testimonial__body::before{
    content: "";
    background: linear-gradient(135deg,  transparent,var(--color-primary),var(--color-primary));
    width: 3rem;
    height: 3rem;
    position: absolute;
   left: 45%;
   top: -1.5rem;
   transform:rotate(45deg)
}
/* ===========----  Footer   ----- ============== */

footer{
   background: var(--color-bg1);
   padding-block: 5rem;
   font-size: .9rem;
}

.footer__container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
}
.footer__container .footer__1 .footer__logo h4{
    font-size: 1.8rem;
}
.footer__container>div h4{
    margin-bottom: 1.3rem;
}
footer ul  li {
    margin-bottom: .7rem;
}
footer ul  li:hover{
   text-decoration: underline;
}

.footer__socials{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    font-size: 1.3rem;
}
.footer__copyright{
   text-align: center;
    margin-block: 2rem;
}